<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
    <!--<h1 *ngFor="let coba of test">{{coba}}</h1>-->
    <button (click)="tampil()">sadfvasfde</button>
  </p>

  <h1 *ngFor="let tus of test">{{tus}}</h1>

    <!--<div id="listData">-->
        <!--<div class="dataPython" *ngFor="let data of dataDariPython">-->
            <!--<div class="masuk">{{data[0]}}</div>-->
            <!--<div class="keluar">{{data[1]}}</div>-->
        <!--</div>-->
    <!--</div>-->
</ion-content>
